<%= form_for @subject do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </p>
  <%= f.fields_for :tasks do |builder| %>
    <%= render "task_fields", f: builder %>
  <% end %>
  <p>
    <%= create_add_task_button(f, :tasks) %>
  </p>
  <p>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </p>
<% end %>