<% provide(:title, "Subject") %>
<p>
  <strong>Name:</strong>
  <%=h @subject.name %>
</p>
<ol>
  <% for task in @subject.tasks %>
    <li><%= h task.name %></li>
  <% end %>
</ol>
<p>
  <%= link_to "Edit", edit_subject_path(@subject) %> |
  <%= link_to "delete", @Ssubject, method: :delete, data: { confirm: "You sure?" } %> |
  <%= link_to "View All", subjects_path %>
</p>